@import "tailwindcss";

/* Custom Times New Roman font for PDF */
@font-face {
  font-family: "CustomTimesRoman";
  src: url("/fonts/times.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CustomTimesRomanbold";
  src: url("/fonts/times.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
